body {
  font-family: Arial, sans-serif;
  background: #ffffff;
}

p {
  font-weight: 800;
  font-size: 2em;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 0.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  background-color: rgb(237, 237, 237);
  border: none;
}

button {
  position: cen;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 1em;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}
