* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  font-family: "Arizona", serif;
  font-weight: 400;
  font-style: italic;
}

button {
  border: none;
  outline: 30px;
  padding: 10px;
  border-radius: 10px;
  font-family: "Arizona", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  color: rgb(41, 41, 41);
  margin-top: 50px;
}

button:hover {
  cursor: pointer;
}

/* Scrollbereich */
.scroll-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;

  padding-top: 25vh;
  padding-bottom: 25vh;
  scroll-behavior: smooth;
}

/* Jede Story-Einheit */

.panel1 {
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  scroll-snap-align: center;
  scroll-behavior: smooth;
}

.panel1 p {
  text-align: center;
  width: 80%;
  font-size: 1.5rem;
  font-family: "Arizona", serif;
  font-weight: 400;
  font-style: normal;
}

.panel {
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  scroll-snap-align: center;
  scroll-behavior: smooth;
}

.panel p {
  text-align: center;
  width: 80%;
  font-size: 1.5rem;
  font-family: "Arizona", serif;
  font-weight: 400;
  font-style: italic;
}

.panel.form-panel {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  scroll-snap-align: center;
  scroll-behavior: smooth;
}

.panel.form-panel p {
  text-align: center;
  width: 80%;
  font-size: 1.5rem;
  font-family: "Arizona", serif;
  font-weight: 400;
  font-style: normal;
}

textarea {
  width: 80%;
  max-width: 100%;
  min-height: 3.5rem;
  max-height: 40vh; /* visuelle Grenze */
  resize: none;
  overflow-y: hidden; /* wird JS dynamisch gesetzt */
  border: none;
  outline: none;
  background: transparent;
  line-height: 1.5;
  overscroll-behavior: contain;
  text-align: center;

  font-size: 1.5rem;
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: normal;

  color: #999;
}

textarea::placeholder {
  color: #999; /* hellgrau */
}

/*

textarea {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: normal;

  font-size: 2rem;

  outline: none;
  box-shadow: none;
  border: none;
  background-color: rgb(255, 255, 255);
}
*/

@font-face {
  font-family: "Arizona";
  src: url("../fonts/EduArizonaSansVariable.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}
