body {
  font-family: Arial, sans-serif;
  background: #ffffff;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 0.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  background-color: aqua;
  border: none;
}

button {
  padding: 0.5rem 1rem;
  font-size: 10rem;
  cursor: pointer;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}
