* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  font-family: serif;
  font-family: Arial, sans-serif;
}

/* Scrollbereich */
.scroll-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;

  padding-top: 25vh;
  padding-bottom: 25vh;
  scroll-behavior: smooth;
}

/* Jede Story-Einheit */
.panel {
  height: 50vh;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 2rem;
  text-align: center;

  scroll-snap-align: center;
}
