body {
  font-family: Arial, sans-serif;
  padding: 20rem;
  background: #544040;
}

.container {
  max-width: 100%;
  background: rgb(176, 53, 53);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(92, 5, 5, 0.1);
}

textarea {
  width: 100%;
  height: 100px;
  padding: 0.5rem;
  font-size: 10rem;
  margin-bottom: 1rem;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}
