* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  font-family: serif;
  font-family: Arial, sans-serif;
}

/* Scrollbereich */
.scroll-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;

  padding-top: 25vh;
  padding-bottom: 25vh;
  scroll-behavior: smooth;
}

/* Jede Story-Einheit */
.panel {
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  scroll-snap-align: center;
  scroll-behavior: smooth;
}

.panel p {
  text-align: center;
  width: 80%;
  font-size: 1.5rem;
}

textarea {
  width: 80%;
  height: 100px;
  font-size: 2rem;
  padding: 0.5rem;
}
button {
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
}
