/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: stix-two-text;
  overflow: hidden;
}

.diverses {
  font-size: 1.2rem;
  text-align: center;
  color: rgb(255, 0, 0);
  bottom: 25%;
  position: fixed;
  left: 50%;
  z-index: 20;
}

.diverses p {
  font-size: 0.9rem;
  opacity: 0.8;
  animation: bouncePulse 2.4s ease-in-out infinite;
  text-align: center;
}

/* Story Wrapper */
#story {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/* Panels */
.panel {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}

.panel.active {
  opacity: 1;
  pointer-events: auto;
}

.form-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  width: 100%;
}

/* Text Panels */
.panel p {
  font-size: 3rem;
  text-align: center;
  max-width: 80%;
}

.form-panel p {
  font-size: 3rem;
}

.form-panel textarea {
  width: 80%;
  max-width: 100%;
  min-height: 3.5rem;
  max-height: 40vh; /* visuelle Grenze */
  resize: none;
  overflow-y: hidden; /* wird JS dynamisch gesetzt */
  border: none;
  outline: none;
  background: transparent;
  font-size: 1.1rem;
  line-height: 1.5;
  overscroll-behavior: contain;
  text-align: center;
}

.form-panel textarea:active {
  outline: none;
  box-shadow: none;
}

.form-panel button {
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: rgb(242, 242, 242);
  border-radius: 20px;
}

/* Mobile Anpassungen */
@media (max-width: 768px) {
  .panel p {
    font-size: 1.8rem;
  }

  .form-panel textarea {
    width: 90%;
  }
}

@keyframes bouncePulse {
  /* Ruhe */
  0%,
  20% {
    transform: translateX(-50%) scale(1.3);
  }

  /* Zusammendrücken */
  35% {
    transform: translateX(-50%) scale(0.9);
  }

  /* Bounce */
  50% {
    transform: translateX(-50%) scale(2.5);
  }

  /* Zurückfedern */
  65% {
    transform: translateX(-50%) scale(0.9);
  }

  /* Wieder Ruhe */
  80%,
  100% {
    transform: translateX(-50%) scale(1.3);
  }
}
