html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}
#pfeil {
  bottom: 10px;
}

.page {
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  box-sizing: border-box;
}

.page1 {
  background: #f1f1f1;
  font-size: 2rem;
  text-align: center;
  color: rgb(37, 37, 37);
}

.page2 {
  background: #ffffff;
  font-size: 2rem;
  text-align: center;
}

.page3 {
  background: #ffffff;
  font-size: 2rem;
  text-align: center;
}
t textarea {
  width: 100%;
  height: 60%;
  margin-bottom: 10px;
  border: none;
  outline: none;
  text-align: center;
}

button {
  padding: 10px 20px;
  cursor: pointer;
  outline: none;
  border: none;
}
